@font-face {
  font-family: "CafeFont";
  src: url("./assets/fonts/Cafe.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: linear-gradient(90deg, green, rgba(187, 187, 0, 0.659));
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.btn {
  margin-left: 2vw;
  height: 5vh;
  width: 5vw;
  font-size: 1vw;
  border-radius: 20px;
  background-color: lightgreen;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease 0.2s;
}

#content {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
}

.home-img {
  height: 88vh;
  width: 100vw;
  justify-self: center;
}

.header {
  font-family: "CafeFont", sans-serif;
  font-size: 5rem;
  color: lightgreen;
  letter-spacing: 8px;
  position: absolute;
  justify-self: center;
  top: 8vh;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  padding: 1.5vw;
  text-shadow: 5px 5px rgb(63, 103, 63);
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5rem;
  color: lightgreen;
  letter-spacing: 8px;
  position: absolute;
  padding: 2vw;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 20px;
  justify-self: center;
  top: 33vh;
  text-shadow: 2px 2px rgb(63, 103, 63);
}

.about-img {
  height: 88vh;
  width: 100vw;
  justify-self: center;
}

.menu-img {
  height: 88vh;
  width: 100vw;
  justify-self: center;
}

.focused-btn {
  height: 11vh;
  border-radius: 0px;
}
